.filmstrip-outer-wrapper {
    max-width: 100%;
    margin-bottom: 1em;
}

.filmstrip-wrapper {
    max-width: 100%;
}
 
.filmstrip {
    //max-width: 100%;
    -webkit-animation-name: dog;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-timing-function:steps(1, end);
    background-repeat: no-repeat;
    background-size: 100% auto;
    // max-width: 100%;
    // height: auto;
    // padding-top: 30%;
    //background-size: 100% 2500%;
    //background-image: url('../images/demo/IMG_5129.JPG');
    @media screen and (min-width: 768px) { 
        // background-image: url('../img/filmstrip-cotton-archive.jpg');
    }
}

.filmstrip img {
  visibility: hidden;
  max-width: 100%; 
  height: auto;
}
 //    @-webkit-keyframes gif {
	//   0% {
	//     background-image: url('../images/demo/frame1.jpg');
	//   }
	//   20% {
	//     background-image: url('../images/demo/frame2.jpg');
	//   }
	//   40% {
	//     background-image: url('../images/demo/frame3.jpg');
	//   }
	//   60% {
	//     background-image: url('../images/demo/frame4.jpg');
	//   }
	//   80% {
	//     background-image: url('../images/demo/frame5.jpg');
	//   }
	//   100% {
	//     background-image: url('../images/demo/frame6.jpg');
	//   }
	// }

@-webkit-keyframes dog {
  0% {
    background-image: url('../images/demo/dog1.jpg');
  }
  11% {
    background-image: url('../images/demo/dog2.jpg');
  }
  22% {
    background-image: url('../images/demo/dog3.jpg');
  }
  33% {
    background-image: url('../images/demo/dog4.jpg');
  }
  44% {
    background-image: url('../images/demo/dog5.jpg');
  }
  55% {
    background-image: url('../images/demo/dog6.jpg');
  }
  66% {
	background-image: url('../images/demo/dog7.jpg');
  }
  77% {
	background-image: url('../images/demo/dog8.jpg');
  }
  88% {
	background-image: url('../images/demo/dog9.jpg');
  }
  100% {
  	background-image: url('../images/demo/dog10.jpg');
  }
}