<div id="<%=name %>__filmstrip"></div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pym/0.4.1/pym.min.js"></script>
<script type="text/javascript">new pym.Parent('<%=name %>__filmstrip','<%=url %>');</script>
