<script src="//cdnjs.cloudflare.com/ajax/libs/pym/0.4.1/pym.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<style>
html, body {
  margin: 0;
  padding: 0;
}

.filmstrip-outer-wrapper {
  width: 100%;
  margin-bottom: 1em;
}

.filmstrip-wrapper {
  max-width: 100%;
}

.filmstrip {
  -webkit-animation-name: gif;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-timing-function:steps(1, end);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1000;
}

.filmstrip img {
  visibility: hidden;
  max-width: 100%;
}

@-webkit-keyframes gif {
<% for (var i = 0; i < imageUrls.length; i++) { %>
  <% if (i == imageUrls.length - 1) { %>
  100% {
  <% } else { %>
  <%=i * Math.floor(100 / (imageUrls.length - 1)) %>% {
  <% } %>
    background-image: url('<%= imageUrls[i] %>');
  }
<% } %>
}
</style>

<script>
  $(window).load(function() {
    var pymChild = pym.Child();
    var filmstrip_cotton = $('html').find('.filmstrip-wrapper');
    var filmstrip_cotton_wrapper = $('html').find('.filmstrip-outer-wrapper');
    var filmstrip_cotton_aspect_width = $('img').width();
    var filmstrip_cotton_aspect_height = $('img').height();

    function size_filmstrip() {
      $('.filmstrip img').css({ 'height' : ($('.filmstrip-outer-wrapper').width() * $('img').height() / $('img').width())+'px'});
      pymChild.sendHeight();
    }

    size_filmstrip();

    $(window).resize(function() {
      size_filmstrip();
    });
  });
</script>

<div class="filmstrip-outer-wrapper">
  <div class="filmstrip-wrapper">
    <div class="filmstrip animated">
      <img src="<%= imageUrls[0] %>" />
    </div>
  </div>
</div>
