@charset "utf-8";

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.header{
  max-width:none;
  font-size:100px;
  text-align:center;
  color:white;
  background-color: #0071bc;
  width:100%;
  font-family: "HelveticaNeue-Light";
}
.breaker {
  background-color: #8bbfff;
  margin: 20px 0;
  padding: 20px 0;
  color: white;
}
.breaker a {
  color: white;
  font-weight:bold;
  text-decoration:underline;
}

#heavy-title{
  font-family: "Helvetica";
  font-weight:bold;
}

#holder {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  border: 5px solid white;
  margin: 20px auto;
  padding:20px;
  min-height:389px;

  background-color: #0071bc;
}

#instructions {
  text-align: center;
  letter-spacing: 2px;
}

#holder img {
}

#auth-dropbox{
 width: 50%;
 margin: 0 auto;
 height:180px;
 text-align:center;
 visibility:hidden;
}
#auth-dropbox h2 {
 margin-top:60px;
}
#auth-dropbox img {
  margin-top: 36px;
  max-height: 120px;
  max-width: 120px;
}

#auth {
 background-color:#0071bc;
 margin-top:70px;
}

#holder p{
  margin:0;
  line-height:1.1em;
  font-size:50px;
  color:white;
  text-transform: uppercase;
  font-family: "HelveticaNeue-Light"
}
#holder img {
  max-width:33%;
  max-height:33%;
}

#holder .row {
  margin:30px 0;
}

#holder.hover {
  background-color:#005592;
}

#mosaic img {
  max-width: 150px;
  min-width:75px;
  width:calc(100% / 6);
}

.progress{
 height: 50px;
}

.progress .meter{
 background:#0071bc;
}

.meter{
  width:0%;
}

button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color:#dfdfdf;
  color:#666;
}
.button, button{
 background-color:#0071bc;
}

#name {
  border:0;
  padding-left:0;
  padding-right:0;
  font-size:36px;
  line-height:1em;
  height:auto;
  background:none;
  box-shadow:none;
  border-bottom:3px solid #0071bc;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

footer {
  text-align: center;
}
footer.breaker {
  margin-bottom:0;
}
footer p {
  font-size: 1em;
  margin:0;
}
