/* line 1, /Users/rmark/Code/filmstrip/source/stylesheets/demo.scss */
.container {
  max-width: 100%;
  margin: 0 auto; }

/* line 6, /Users/rmark/Code/filmstrip/source/stylesheets/demo.scss */
.filmstrip-outer-wrapper {
  max-width: 100%;
  margin-bottom: 1em; }

/* line 11, /Users/rmark/Code/filmstrip/source/stylesheets/demo.scss */
.filmstrip-wrapper {
  max-width: 100%; }

/* line 15, /Users/rmark/Code/filmstrip/source/stylesheets/demo.scss */
.filmstrip {
  -webkit-animation-name: dog;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-timing-function: steps(1, end);
  background-repeat: no-repeat;
  background-size: 100% auto; }

/* line 29, /Users/rmark/Code/filmstrip/source/stylesheets/demo.scss */
.filmstrip img {
  visibility: hidden;
  max-width: 100%; }

@-webkit-keyframes dog {
  0% {
    background-image: url("../images/demo/dog1.jpg"); }
  11% {
    background-image: url("../images/demo/dog2.jpg"); }
  22% {
    background-image: url("../images/demo/dog3.jpg"); }
  33% {
    background-image: url("../images/demo/dog4.jpg"); }
  44% {
    background-image: url("../images/demo/dog5.jpg"); }
  55% {
    background-image: url("../images/demo/dog6.jpg"); }
  66% {
    background-image: url("../images/demo/dog7.jpg"); }
  77% {
    background-image: url("../images/demo/dog8.jpg"); }
  88% {
    background-image: url("../images/demo/dog9.jpg"); }
  100% {
    background-image: url("../images/demo/dog10.jpg"); } }
