---
title: Filmstrip Demo
---

<h1>Add Images</h1>
<div class="image-upload">
	<input type="text" value="blah"><br>
	<input type="text" value="blerg"><br>
	<input type="text" value="test"><br>
</div>
<button id="add-img">Add another image</button>

<br>

<button id="generate-filmstrip">Generate filmstrip</button>

<div class="filmstrip-outer-wrapper">
	<div class="filmstrip-wrapper">
		<div class="filmstrip animated"></div>
	</div>
</div>