<div id="holder">
    <p id="status">File API &amp; FileReader API not supported</p>
    <p>Drag images from your desktop into this drop zone.</p>
</div>
<div id="mosaic"></div>

<button id="publish">Save to dropbox</button>
