<div class="row header">
  <span id="heavy-title">FLIM</span>STRIP
</div>

<div class="wrapper">
  <div class="row">
    <div id="holder">
      <div id="instructions">
      <div class="row">
          <img src="images/Plus.svg">
      </div>
      <div class="row">
        <p>Drag and drop your photos.</p>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="mosaic"></div>
  </div>

  <div class="row">
    <pre id="embed-code"></pre>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <button id="publish">Create Filmstrip</button>
      <p>This will save to your Dropbox</p>
    </div>
    <div class="large-8 columns">
      <div class="progress"><span class="meter"></span></div>
    </div>
  </div>
  <div class="push"></div>
</div>

<div class="footer"><p>Filmstrip was made by <a href="https://twitter.com/ryanmark" target="_blank">Ryan Mark</a>, <a href="https://twitter.com/cdukehart" target="_blank">Coburn Dukes</a>, <a href="https://twitter.com/nicolelzhu" target="_blank"> Nicole Zhu</a>, <a href="https://twitter.com/tavocaballero" target="_blank">Tavo Caballero</a> and <a href="https://twitter.com/whichlight" target="_blank">Kawandeep Virdee</a> at <a href="www.snd.org/2015/02/sndmakes-at-snddc-how-might-we-better-tell-picture-stories/" target="_blank">#SNDMakes</a>.</p></div>
