<div class="row header">
  <span id="heavy-title">FILM</span> STRIP
</div>


<div class="row">
  <div id="holder">
    <div id="instructions">
    <div class="row">
        <img src="images/Plus.svg">
    </div>
    <div class="row">
      <p>Drag and drop your photos.</p>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="mosaic"></div>
</div>

<div class="row">
  <pre id="embed-code"></pre>
</div>

<div class="row">
  <button id="publish">Save to dropbox</button>
</div>
